BASE_PATH
MODEL_PATH
PROCESSED_TEST_DIR
RESULTS_DIR
PROCESSED_IMAGES_DIR
GAN_IMAGES_DIR
IMAGE_DIR
TEST_IMAGE_DIR
CSV_PATH
RETRAINED_MODEL_PATH
OUTPUT_DIR
MODEL_SAVE_PATH
RESULTS_PATH
IMAGE_SIZE
CHANNELS
NUM_CLASSES
BATCH_SIZE
EPOCHS
LATENT_DIM
EYEQ_RAW_DIR
IQA_MODEL_DIR
IQA_RESULTS_DIR
DEFAULT_GAMMA=1.2
DEFAULT_CLAHE_CLIP_LIMIT=2.0
DEFAULT_CLAHE_TILE_GRID_WIDTH=8
DEFAULT_CLAHE_TILE_GRID_HEIGHT=8
VESSEL_SEG_MODEL_DIR
VESSEL_SEG_RESULTS_DIR
VESSEL_SEG_TTA=true
LESION_SEG_MODEL_DIR
LESION_SEG_RESULTS_DIR
